.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: hsl(207, 20%, 25%);
  height: 100vh;
  color: hsl(207, 10%, 90%);
}

.App-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}



.App-link {
  /* color: #09d3ac; */
  color: hsl(207, 50%, 60%);

}

.App-link:hover {
  color: hsl(207, 80%, 50%);
}

a{
  text-decoration: none;
  color: hsl(207, 10%, 90%);
}

a:hover{
  text-decoration: none;
  color: hsl(207, 80%, 50%);
}



