.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #09d3ac;
  text-decoration: none;
}

.App-link:hover {
  color: #05614e;
  text-decoration: none;
}

.Edit-view{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.Edit-sketch {
  flex-grow: 4;
}

.settings {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.sketch-board{
  border: 1px;
  border-color: black;
  border-style: solid;
}

.sketch-board.preview{
  border: 1px;
  border-color: black;
  border-style: solid;
  margin: 50px;
  width: 30%;
}



.color-selector {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* align-content: stretch; */
  /* align-content: space-between; */
  height: 100%;
  
}

.hue-bar {
  flex-grow: 1;
  height: 100%;
}

.sat-light-select{
  flex-grow: 4;
  height: 100%;
  width: 60px;
}

