.edit-view{
    text-align: center;
    height: 90vh;

}

.edit-view h1{
    padding: 0px;
    float: left;
}

.edit-view .settings{
    height: 90%;
    float: left;
    width: 12vw;
    margin: 10px;
}

.edit-view .sketch-board{
  border: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  background: hsl(207, 11%, 67%);
}

.edit-view .edit-sketch{
    text-align: center;
    float: right;
    height: 100%;
    width: 85vw;

}



.edit-show a{
    float: left;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 1.5em;
    clear: left;
}
.edit-view{
    /* display: flex; */
    width: 100%;
    height: 80vh;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .edit-view form {
    float: left;
    /* flex-grow: 7; */
    /* height: 100%; */
  }


  
  .settings h3{
    margin: 0px;
    padding: 0px;
    clear: both;
  }
  
  .stroke-selectors{
    float: left;
    clear: both;
    height: 25%;
    width: 100%;
  }

  .sat-light-select{
      float: right;
      clear: both;
      height: 50%;
  }
  
  .line-width{
    float: left;
    clear: both;
    height: 40%;
    width: 100%;
  }

  .line-type .selected{
    background-color: blue;
  }

  .line-type{
    float: left;
    clear: both;
    height: 40%;
    width: 100%;
  }
  
  .line-width > button{
    float: left;
  }
  
  .color-selectors {
    float: left;
    clear: both;
    height: 40%;
    width: 100%;
  }

  .stroke-selectors {
    float: left;
    clear: both;
    height: 40%;
  }
  
  .line-color{
    float: left;
    clear: both;
    height: 40%;
    width: 100%;
  }
  
  .fill-color{
    float: left;
    clear: both;
    height: 40%;
    width: 100%;
  }
  
  
  .color-indicator{
    float: right;
    clear: both;
    height: 50%;
    width: 100%;
  }

  .color-select{
    float: right;
    width: 80%;
    height: 100%;
  } 
  .hue-select {
    float: left;
    height: 100%;
    width: 10%;
  }

  .hue-bar{
      height: 100%;
      width: 100%;
  }